body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #b3b3ff;
    margin-bottom: 40px;
    font-size: 2em;
}

.assignment {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.assignment h2 {
    color: #b3b3ff;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.assignment input,
.assignment select,
.assignment button {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.assignment input,
.assignment select {
    background-color: #555;
    color: #fff;
}

.assignment button {
    background-color: #800080;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.assignment button:hover {
    background-color: #b300b3;
}

.assignment p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

#fizzBuzzResult p {
    color: #b3b3ff;
}
